body {
    background-image: url(https://i.imgur.com/VgqmtGg.jpeg) ;
    width: 100vw;
    height: 100vh;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
.logo {
    width: 150px;
    height: 100px;
    vertical-align: middle;
    padding-left: 5vw;
    padding-top: 3vw;
    transition: transform 1s;
}
.logo:hover {
    width: 200px;
    height: 130px;
}
.name {
    font-size: 3.5vw;
    text-align: center;
    padding: 3vw;
    width: 100vw;
    color: chartreuse;
    font-family: Akronim;
    transition: transform 0.5s;
}
.name1 {
    font-size: 5vw;
    text-align: center;
    
}
.name1:hover:hover {
    color: yellow;
    transform: translate(-5px) ;
    font-size: 6vw;
}
.flex1 {
    display: flex;
    flex-direction: row;
}

.button1 {
    width: 100px;
    height: 40px;
    vertical-align: bottom;
    background-color: aliceblue;
    color: black;
    padding: 3px;
    text-decoration: none;
    margin-top: 8vw;
    
}
.button1:hover {
    width: 120px;
    background-color: black;
    font-size: 20px;
    color: gold;
    padding: 3px;
}
.button2 {
    width: 80px;
    height: 40px;
    vertical-align: bottom;
    background-color: aliceblue;
    color: black;
    padding: 3px;
    margin-top: 8vw;
    margin-right: 4vw;
    margin-left: 3px;
}
.button2:hover {
    background-color: black;
    font-size: 20px;
    color: gold;
    padding: 3px;
}
.flex {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}
.id1 {
    vertical-align: bottom;
    padding: 3px;
    padding-top: 8vw;
}
.id2 {
    vertical-align: bottom;
    padding: 3px;
    padding-top: 8vw;
    padding-right: 4vw;
}
.photo {
    width: 15vw;
    height: 20vw;
    margin-left: 6vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.photo:hover {
    animation: mail 0.5s;
    animation-iteration-count: infinite;
}
.flexcol {
    display: flex;
    flex-direction: column;
}
.peru {
    font-size: 3.5vw;
    width: 85vw;
    height: 8vw;
    font-family: Allan;
    text-align: center;
    color: yellow;
    transition-duration: 2s;
    margin-top: 40px;
}
.peru1 {
    font-size: 3.5vw;
    width: 85vw;
    height: 8vw;
    font-family: Allan;
    text-align: center;
    color: yellow;
    transition-duration: 2s;
    margin-top: 0px;
}
.peru1:hover {
    color: white;
    font-size: 4vw;
}
.tech {
    font-size: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: greenyellow;
    margin-top: 40px;
}
.tech1 {
    font-size: 2vw;
    font-style: oblique;
    text-align: center;
    vertical-align: middle;
    transition-duration: 2s;
    color: yellowgreen;
    margin-top: 20px;
}
.tech1:hover {
    font-size: 3vw;
    color: white;
}
.mail {
    margin-top: 40px;
    font-size: 50px;
    color: white;
    margin-left: 30vw;
    display: inline-block;
    transition: transform 1.5s;
}
.mail:hover {
    color: #ff008f;
    transform: translateY(-20px);
}
.ab1 {
    margin-left: 4vw;
    margin-right: 3vw;
    height:360px;
    width: 240px;
    border-radius: 8px;
}
@keyframes mail {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.linkedin {
    margin-top: 40px;
    font-size: 50px;
    color: white;
    margin-left: 8vw;
    display: inline-block;
    transition: transform 2s;
}
.linkedin:hover {
    color:#ff008f;
    transform: translateY(-20px);
}
.ab {
    font-size: 60px;
    font-family: Sofia;
    margin-left: 5vw;
    color: black;
    margin-top: 100px;
}
.ab2 {
    font-size: 3vw;
    font-family: Are You Serious;
    color: black;
}
